openapi: 3.1.0
info:
  title: Pay.com API
  version: '1.0'
  license:
    name: Pay
    url: https://pay.com
  summary: Pay.com API
  contact:
    name: Pay.com Team
    url: https://pay.com
    email: support@pay.com
  termsOfService: https://pay.com/legal/terms-and-conditions
  description: |-
    The Pay.com API is REST based and can be used to interact and manage resources.

    Pay.com API has:
    - Predictable resource-oriented URLs
    - Accepts JSON-encoded request bodies
    - Returns JSON-encoded responses

    The API uses standard HTTP response codes, authentication, and verbs.

    You can use the API in test mode, which does not affect your live data or interact with the banking networks.
servers:
  - url: https://api.sandbox.pay.com/v1
    description: Test mode (Sandbox)
  - url: https://api.pay.com/v1
    description: Live mode (Production)
security:
  - ApiKeyAuth: []
tags:
  - name: PaymentSessions
    description: Create and manage payment sessions for secure, client-side payment collection.
  - name: SetupSessions
    description: Create and manage setup sessions to securely collect and store payment method details without charging.
  - name: TokenizationSessions
    description: Create tokenization sessions for secure card collection.
  - name: Charges
    description: "Create and manage charges to collect payments from customers. Supports one-time payments, confirmations, refunds, partial approvals, and transaction status lookups."
  - name: Holds
    description: Place holds on funds to reserve an amount before capturing. Useful for authorization-then-capture payment flows.
  - name: Refunds
    description: Refund endpoints allow you to return funds to customers for completed charges, either partially or in full.
  - name: Payouts
    description: Payouts enable you to send funds to customer's cards, bank accounts or other payment methods.
  - name: AuthenticationSessions
    description: "Manage 3D Secure authentication sessions for enhanced payment security, including standalone sessions independent of payment flows."
  - name: Customers
    description: Manage customer records, including their payment methods and transaction history.
  - name: PaymentMethods
    description: "Store, retrieve, and manage payment methods including cards, bank accounts, and digital wallets. Includes token and network token management."
  - name: PaymentMethodDomains
    description: "Register and manage domains for Apple Pay and Google Pay web payments. Includes Apple Pay session creation for merchant validation."
  - name: Checkout
    description: Create hosted checkout experiences for seamless payment collection.
  - name: PaymentLinks
    description: Create shareable payment links that allow customers to complete payments without integration.
  - name: Subscriptions
    description: "Create and manage subscriptions and subscription packages for recurring payments. Set up billing terms, handle billing cycles, and manage subscriber lifecycle."
  - name: Disputes
    description: "Handle chargebacks and disputes, submit evidence, track dispute resolution status, and manage supporting documents."
  - name: Collaborations
    description: Manage and resolve all pre-dispute collaborations tools (CDRN, Ethoca, Mastercard Collaboration).
  - name: FraudWarnings
    description: Access fraud warnings and alerts associated with transactions to help identify potentially fraudulent activity.
  - name: Risk
    description: "Assess transaction risk before processing payments and manage risk reviews for flagged transactions."
  - name: ValueLists
    description: Value Lists allow you to create and manage custom lists of values for use in rules, filters, and other configurations.
  - name: Settlements
    description: "View settlement details, breakdowns, adjustments, and service fees showing how funds are allocated and transferred to your account."
  - name: Reconciliation
    description: Access transaction reconciliation data for accounting and financial reporting purposes.
  - name: ExchangeRates
    description: Get current exchange rates and calculate currency conversions for multi-currency transactions.
  - name: Merchants
    description: Retrieve merchant configuration and available payment method options.
paths:
  /attempts/payment:
    get:
      summary: Retrieve Attempts of a Session
      description: |-
        Retrieves the details of a Payment Session.

        Querying the API with the unique identifier of a Payment Session that was returned from a previous request will return the corresponding Payment Attempts.
      operationId: retrieve-attempts-of-a-payment-session
      tags:
        - PaymentSessions
      parameters:
        - $ref: '#/components/parameters/payment-session-id'
      responses:
        '200':
          $ref: '#/components/responses/payment-attempts-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request-error'
        '404':
          description: Payment session not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /attempts/payment/{id}:
    get:
      summary: Retrieve a Payment Attempt
      description: |-
        Retrieves the details of a Payment Attempt.

        Querying the API with the unique identifier of a Payment Attempt that was returned from a previous request will return the corresponding Payment Attempt information.
      operationId: retrieve-attempt-of-a-payment-session
      tags:
        - PaymentSessions
      parameters:
        - schema:
            type: string
            example: psatt_217940156986951680_0
            pattern: ^psatt_\d{18,20}_\d{1}
          name: id
          in: path
          required: true
          description: The id of the Payment Session to retrieve.
      responses:
        '200':
          $ref: '#/components/responses/payment-attempt-response'
        '404':
          description: Payment attempt not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /attempts/setup:
    get:
      summary: Retrieve Attempts of a Session
      description: |-
        Retrieves the details of a Setup Session.

        Querying the API with the unique identifier of a Setup Session that was returned from a previous request will return the corresponding Setup Attempts.
      operationId: retrieve-attempts-of-a-setup-session
      tags:
        - SetupSessions
      parameters:
        - $ref: '#/components/parameters/setup-session-id'
      responses:
        '200':
          $ref: '#/components/responses/setup-attempts-response'
        '404':
          description: Setup session not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /attempts/setup/{id}:
    get:
      summary: Retrieve a Setup Attempt
      description: |-
        Retrieves the details of a Setup Attempt.

        Querying the API with the unique identifier of a Setup Attempt that was returned from a previous request will return the corresponding Setup Attempt information.
      operationId: retrieve-a-setup-attempt
      tags:
        - SetupSessions
      parameters:
        - schema:
            type: string
            example: ssatt_217940156986951680_0
            pattern: ^ssatt_\d{18,20}_\d{1}
          name: id
          in: path
          required: true
          description: The id of the Setup Attempt to retrieve.
      responses:
        '200':
          $ref: '#/components/responses/setup-attempt-response'
        '404':
          description: Setup attempt not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /refunds:
    post:
      summary: Create a Refund
      description: Refund the funds from a Charge to the Payment Method.
      operationId: create-refund
      tags:
        - Refunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-refund-request'
            example:
              charge: chrg_296645958265997312
              amount_to_refund: '5000'
              reference: refund_order_12345
              metadata:
                reason_detail: Customer requested partial refund
      responses:
        '200':
          description: Returns the created refund object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    get:
      summary: List Refunds
      description: Retrieves the refunds in bulk.
      operationId: get-refunds-bulk
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/created-greater-than-or-equals'
        - $ref: '#/components/parameters/created-greater-than'
        - $ref: '#/components/parameters/created-less-than-or-equals'
        - $ref: '#/components/parameters/created-less-than'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/customer-reference-id'
        - $ref: '#/components/parameters/ending-before'
        - $ref: '#/components/parameters/starting-after'
      responses:
        '200':
          description: Returns a list of refund objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-refunds-bulk-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /refunds/{id}:
    get:
      summary: Retrieve a Refund
      description: Retrieves the details of a Refund.
      operationId: get-refund-by-id
      tags:
        - Refunds
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            examples:
              - rfnd_146231656762572800
            pattern: ^rfnd_\d{18,20}
      responses:
        '200':
          description: Returns the refund object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Refund not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /refunds/reference/{reference_id}:
    get:
      summary: Retrieve a Refund by Reference
      description: Retrieves the details of a Refund by reference.
      operationId: get-refund-by-reference
      tags:
        - Refunds
      parameters:
        - in: path
          name: reference_id
          required: true
          schema:
            type: string
            example: c7af52e8-c51f-4047-b636-4f1480bad573
          description: A unique string to reference the Refund.
      responses:
        '200':
          description: Returns the refund object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /payouts:
    post:
      summary: Create a Payout
      description: Create a payout.
      operationId: create-payout
      tags:
        - Payouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-payout-request'
            example:
              amount: 10000
              currency: usd
              destination: pm_card_296645958265997316
              reference: payout_order_12345
              statement_descriptor_suffix: ACME STORE
              metadata:
                order_id: '12345'
      responses:
        '200':
          description: Returns the created payout object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payout'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    get:
      summary: List Payouts
      description: Retrieves the payouts in bulk.
      operationId: get-payouts-bulk
      tags:
        - Payouts
      parameters:
        - $ref: '#/components/parameters/created-greater-than-or-equals'
        - $ref: '#/components/parameters/created-greater-than'
        - $ref: '#/components/parameters/created-less-than-or-equals'
        - $ref: '#/components/parameters/created-less-than'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/customer-reference-id'
        - $ref: '#/components/parameters/ending-before'
        - $ref: '#/components/parameters/starting-after'
      responses:
        '200':
          description: Returns a list of payout objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-payouts-bulk-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /payouts/{id}:
    get:
      summary: Retrieve a Payout
      description: Retrieves the details of a Payout.
      operationId: get-payout-by-id
      tags:
        - Payouts
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            examples:
              - po_220442125165133824
            pattern: ^po_\d{18,20}
      responses:
        '200':
          description: Returns the payout object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payout'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payout not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /payouts/reference/{reference_id}:
    get:
      summary: Retrieve a Payout by Reference
      description: Retrieves the details of a Payout by reference.
      operationId: get-payout-by-reference
      tags:
        - Payouts
      parameters:
        - in: path
          name: reference_id
          required: true
          schema:
            type: string
            example: c7af52e8-c51f-4047-b636-4f1480bad573
          description: A unique string to reference the Payout.
      responses:
        '200':
          description: Returns the payout object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payout'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /adjustments:
    get:
      summary: List Adjustments
      operationId: list-adjustments
      description: Retrieves a list of adjustments for a specific settlement.
      tags:
        - Settlements
      parameters:
        - name: settlement_id
          schema:
            type: string
            example: stlmnt_146231656762572800
            pattern: ^stlmnt_\d{18,20}
          in: query
          description: The id of the Settlement.
          required: true
        - name: page
          schema:
            type: integer
            example: 1
          in: query
          description: The number of items to skip before starting to collect the result set.
        - name: limit
          schema:
            type: integer
            example: 10
          in: query
          description: The numbers of items to return.
      responses:
        '200':
          description: Returns a list of adjustment objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adjustments-list-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /adjustments/{adjustment_id}:
    get:
      summary: Retrieve an Adjustment
      description: Retrieves the details of an adjustment.
      operationId: get-adjustment-by-id
      tags:
        - Settlements
      parameters:
        - in: path
          name: adjustment_id
          required: true
          description: The id of the Adjustment.
          schema:
            type: string
            example: adj_146231656762572800
            pattern: ^adj_\d{18,20}
      responses:
        '200':
          description: Returns the adjustment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adjustment'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Adjustment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /transaction_status/{transaction_id_or_source_id}:
    get:
      summary: Get transaction status
      tags:
        - Charges
      responses:
        '200':
          description: Returns the transaction object.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/charge'
                  - $ref: '#/components/schemas/hold'
                  - $ref: '#/components/schemas/refund'
                  - $ref: '#/components/schemas/payout'
                  - $ref: '#/components/schemas/payment-method'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: get-transaction-status
      description: Get transaction status by transaction or source id.
      parameters:
        - name: transaction_id_or_source_id
          schema:
            type: string
            example: chrg_146231656762572800
            pattern: (^(chrg|hld|rfnd|po))|(^pm_(card|paypal|in_bank_account|eu_bank_account|uk_bank_account|ecopayz|vyne|aircash|jeton))_\d{18,20}
          in: path
          required: true
          description: The identifier of the transaction.
  /value_lists/{list_id}:
    get:
      summary: Retrieve a Value List
      tags:
        - ValueLists
      responses:
        '200':
          description: Returns the value list object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: get-value-list
      description: Retrieves the details of a value list.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list.
    put:
      summary: Update a Value List
      tags:
        - ValueLists
      requestBody:
        $ref: '#/components/requestBodies/update-value-list'
      responses:
        '200':
          description: Returns the value list object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: update-value-list
      description: Updates a value list.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list.
    delete:
      summary: Delete a Value List
      tags:
        - ValueLists
      responses:
        '204':
          description: Deleted successfully.
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: delete-value-list
      description: Deletes a value list.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list.
  /value_lists/{list_id}/items/{item_id}:
    get:
      summary: Retrieve a Value List Item
      tags:
        - ValueLists
      responses:
        '200':
          description: Returns the value list item object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list-item'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: get-value-list-item
      description: Retrieves the details of a value list item.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list.
        - name: item_id
          schema:
            type: string
            example: lsti_146231656762572800
            pattern: ^lsti_\d{18,20}
          in: path
          required: true
          description: The identifier of the value-list item.
    delete:
      summary: Delete a Value List Item
      tags:
        - ValueLists
      responses:
        '204':
          description: Deleted successfully.
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: delete-value-list-item
      description: Deletes a value list item.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The id of the value list.
        - name: item_id
          schema:
            type: string
            example: lsti_146231656762572800
            pattern: ^lsti_\d{18,20}
          in: path
          required: true
          description: The identifier of the value-list item.
    post:
      summary: Update a Value List Item
      tags:
        - ValueLists
      requestBody:
        $ref: '#/components/requestBodies/update-value-list-item'
      responses:
        '200':
          description: Returns the value list item object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list-item'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: update-value-list-item
      description: Updates a value list item.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list.
        - name: item_id
          schema:
            type: string
            example: lsti_146231656762572800
            pattern: ^lsti_\d{18,20}
          in: path
          required: true
          description: The identifier of the value-list item.
  /value_lists:
    post:
      summary: Create a Value List
      tags:
        - ValueLists
      requestBody:
        $ref: '#/components/requestBodies/create-value-list'
      responses:
        '201':
          description: Returns the created value list object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: create-value-list
      description: Creates a new value list.
    get:
      summary: List Value Lists
      tags:
        - ValueLists
      responses:
        '200':
          description: Returns a list of value list objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list-array'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: list-value-lists
      description: Retrieves a list of value lists.
      parameters:
        - name: from_date
          schema:
            type: string
          in: query
          description: The start date to look for value-lists.
        - name: to_date
          schema:
            type: string
          in: query
          description: The end date to look for transaction or source.
        - name: page
          schema:
            type: integer
            default: 1
          in: query
          description: Page number to start from.
        - name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          description: Number of value-lists displayed on the page.
  /value_lists/{list_id}/items:
    get:
      summary: List Value List Items
      tags:
        - ValueLists
      responses:
        '200':
          description: Returns a list of value list item objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list-item-array'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: list-value-list-items
      description: Retrieves all items in a value list.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list.
    post:
      summary: Create a Value List Item
      tags:
        - ValueLists
      requestBody:
        $ref: '#/components/requestBodies/create-value-list-item'
      responses:
        '201':
          description: Returns the created value list item object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value-list-item'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: create-value-list-item
      description: Creates a new item in a value list.
      parameters:
        - name: list_id
          schema:
            type: string
            example: lst_146231656762572800
            pattern: ^lst_\d{18,20}
          in: path
          required: true
          description: The identifier of the value list which the created item will be added
  /subscriptions/packages:
    post:
      summary: Create a Subscription Package
      description: Creates a new subscription package.
      operationId: create-subscription-package
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
      requestBody:
        description: New subscription package body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription-package-create-request'
      responses:
        '201':
          description: Returns the created subscription package object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-package-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /subscriptions/packages/{subscription_package_id}:
    get:
      summary: Retrieve a Subscription Package
      description: Retrieves the details of a subscription package.
      operationId: get-subscription-package
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscription-package-id'
      responses:
        '200':
          description: Returns the subscription package object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-package-response'
        '404':
          description: Subscription package not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
    patch:
      summary: Update a Subscription Package
      description: Updates a subscription package.
      operationId: patch-subscription-package
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
        - $ref: '#/components/parameters/subscription-package-id'
      requestBody:
        description: Subscription package body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription-package-patch-request'
      responses:
        '200':
          description: Returns the subscription package object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-package-response'
        '404':
          description: Subscription package not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
    delete:
      summary: Delete a Subscription Package
      description: Deletes a subscription package.
      operationId: delete-subscription-package
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
        - $ref: '#/components/parameters/subscription-package-id'
      responses:
        '204':
          description: Deleted successfully.
          content: {}
        '404':
          description: Subscription package not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /subscriptions:
    post:
      summary: Create a Subscription
      description: Creates a new subscription.
      operationId: create-subscription
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
      requestBody:
        description: New subscription body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription-create-request'
      responses:
        '201':
          description: Returns the created subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-response'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable-content-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /subscriptions/{subscription_id}/cancel:
    post:
      summary: Cancel a Subscription
      description: Cancels an active subscription.
      operationId: cancel-subscription
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscription-id'
      requestBody:
        description: Cancel subscription body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription-cancel-request'
      responses:
        '200':
          description: Returns the subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-response'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /subscriptions/{subscription_id}/retry:
    post:
      summary: Retry a Subscription
      description: Retries a failed subscription payment.
      operationId: retry-subscription
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
        - $ref: '#/components/parameters/subscription-id'
      requestBody:
        description: Retry subscription body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription-retry-request'
      responses:
        '200':
          description: Returns the subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-response'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /subscriptions/{subscription_id}/simulate/charge:
    post:
      summary: Simulate a Charge
      description: Simulate a Charge.
      operationId: simulate-charge
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscription-id'
      responses:
        '204':
          description: Simulated successfully.
        '403':
          description: Simulate API is not accessible on production.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden-error'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /subscriptions/{subscription_id}:
    get:
      summary: Retrieve a Subscription
      description: Retrieves the details of a subscription.
      operationId: get-subscription
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscription-id'
      responses:
        '200':
          description: Returns the subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-response'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    patch:
      summary: Update a Subscription
      description: Updates a subscription.
      operationId: patch-subscription
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
        - $ref: '#/components/parameters/subscription-id'
      requestBody:
        description: Subscription body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription-patch-request'
      responses:
        '200':
          description: Returns the subscription object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription-response'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /customers:
    post:
      summary: Create a Customer
      description: Creates a customer with a reference.
      operationId: create-customer
      tags:
        - Customers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-customer-request'
            example:
              reference_id: cust_ext_abc123
              name: John Smith
              email: john.smith@example.com
              phone: '+14155551234'
              address:
                line1: 123 Main Street
                line2: Suite 400
                city: San Francisco
                state: CA
                postal_code: '94102'
                country: US
              dob: '1985-07-15'
              metadata:
                customer_tier: premium
      responses:
        '200':
          description: Returns the created customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /customers/{reference_id}:
    get:
      summary: Retrieve a Customer
      description: Retrieves the details of a customer by reference.
      operationId: get-customer-by-reference
      tags:
        - Customers
      parameters:
        - in: path
          name: reference_id
          required: true
          schema:
            type: string
            examples:
              - 7930837b-0d76-46a0-adb1-b563200a5ef4
      responses:
        '200':
          description: Returns the customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    put:
      summary: Update a Customer
      description: Updates a customer's details by reference.
      operationId: update-customer-by-reference
      tags:
        - Customers
      parameters:
        - in: path
          name: reference_id
          required: true
          schema:
            type: string
            examples:
              - 7930837b-0d76-46a0-adb1-b563200a5ef4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-customer-request'
      responses:
        '200':
          description: Returns the updated customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    delete:
      summary: Delete a Customer
      description: Deletes a customer by reference.
      operationId: delete-customer-by-reference
      tags:
        - Customers
      parameters:
        - in: path
          name: reference_id
          required: true
          schema:
            type: string
            examples:
              - 7930837b-0d76-46a0-adb1-b563200a5ef4
      responses:
        '204':
          description: Customer deleted successfully.
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /customers/{reference_id}/payment_methods:
    get:
      summary: List Customer Payment Methods
      description: Retrieves a list of payment methods for a customer.
      operationId: get-customer-payment-methods-by-reference
      tags:
        - Customers
      parameters:
        - in: path
          name: reference_id
          required: true
          schema:
            type: string
            examples:
              - 7930837b-0d76-46a0-adb1-b563200a5ef4
      responses:
        '200':
          description: Returns a list of payment method objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment-method'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /disputes:
    get:
      summary: List Disputes
      operationId: list-disputes
      description: Retrieves a list of disputes.
      tags:
        - Disputes
      responses:
        '200':
          description: Returns a list of dispute objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disputes'
      parameters:
        - $ref: '#/components/parameters/created-greater-than'
        - $ref: '#/components/parameters/created-greater-than-or-equals'
        - $ref: '#/components/parameters/created-less-than'
        - $ref: '#/components/parameters/created-less-than-or-equals'
        - $ref: '#/components/parameters/customer-reference-id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/starting-after'
        - $ref: '#/components/parameters/ending-before'
  /disputes/{dispute_id}:
    get:
      summary: Retrieve a Dispute
      description: Retrieves the details of a dispute.
      operationId: get-dispute-by-id
      tags:
        - Disputes
      parameters:
        - in: path
          name: dispute_id
          required: true
          schema:
            type: string
            examples:
              - dspt_382018687257234944
      responses:
        '200':
          description: Returns the dispute object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Dispute not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /disputes/{dispute_id}/evidences:
    get:
      summary: List Dispute Evidences
      description: Retrieves all evidence submitted for a specific dispute.
      operationId: get-evidences-by-dispute-id
      tags:
        - Disputes
      parameters:
        - in: path
          name: dispute_id
          required: true
          schema:
            type: string
            pattern: ^dspt_\d{18,20}$
            example: dspt_382018687257234944
          description: The unique identifier of the dispute.
      responses:
        '200':
          description: Returns a list of evidence objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/evidence'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Dispute not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    post:
      summary: Submit Dispute Evidence
      description: Submits evidence for a dispute. Evidence can include documents, text explanations, and other supporting materials.
      operationId: submit-dispute-evidence
      tags:
        - Disputes
      parameters:
        - in: path
          name: dispute_id
          required: true
          schema:
            type: string
            pattern: ^dspt_\d{18,20}$
            example: dspt_382018687257234944
          description: The unique identifier of the dispute.
        - $ref: '#/components/parameters/idempotency-key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The type of evidence being submitted.
                  example: receipt
                document_id:
                  type: string
                  pattern: ^doc_\d{18,20}$
                  description: The ID of an uploaded document to use as evidence.
                  example: doc_296645958265997312
                description:
                  type: string
                  description: A text description or explanation for this evidence.
                  example: Original receipt showing customer signature
            example:
              type: receipt
              document_id: doc_296645958265997312
              description: Original receipt showing customer signature
      responses:
        '201':
          description: Returns the created evidence object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evidence'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Dispute not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /disputes/{dispute_id}/evidences/{evidence_id}:
    get:
      summary: Retrieve a Dispute Evidence
      description: Retrieves a specific piece of evidence by its ID.
      operationId: get-evidence-by-id
      tags:
        - Disputes
      parameters:
        - in: path
          name: dispute_id
          required: true
          schema:
            type: string
            pattern: ^dspt_\d{18,20}$
            example: dspt_382018687257234944
          description: The unique identifier of the dispute.
        - in: path
          name: evidence_id
          required: true
          schema:
            type: string
            pattern: ^evd_\d{18,20}$
            example: evd_382018687257234944
          description: The unique identifier of the evidence.
      responses:
        '200':
          description: Returns the evidence object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evidence'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Evidence not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    patch:
      summary: Update a Dispute Evidence
      description: Updates an existing piece of evidence for a dispute.
      operationId: update-dispute-evidence
      tags:
        - Disputes
      parameters:
        - in: path
          name: dispute_id
          required: true
          schema:
            type: string
            pattern: ^dspt_\d{18,20}$
            example: dspt_382018687257234944
          description: The unique identifier of the dispute.
        - in: path
          name: evidence_id
          required: true
          schema:
            type: string
            pattern: ^evd_\d{18,20}$
            example: evd_382018687257234944
          description: The unique identifier of the evidence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document_id:
                  type: string
                  pattern: ^doc_\d{18,20}$
                  description: The ID of a new document to replace the existing one.
                  example: doc_296645958265997312
                description:
                  type: string
                  description: Updated description for this evidence.
                  example: Updated receipt with clearer signature
            example:
              description: Updated receipt with clearer signature
      responses:
        '200':
          description: Returns the updated evidence object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evidence'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Evidence not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /settlements/{settlement_id}:
    get:
      summary: Retrieve a Settlement
      description: Retrieves the details of a settlement.
      operationId: get-settlement
      tags:
        - Settlements
      parameters:
        - $ref: '#/components/parameters/settlement-id'
      responses:
        '200':
          description: Returns the settlement object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/settlement-response'
        '404':
          description: Settlement not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /settlements/{settlement_id}/breakdown:
    get:
      summary: Retrieve a Settlement Breakdown
      description: Retrieves the breakdown of a settlement.
      operationId: get-settlement-breakdown
      tags:
        - Settlements
      parameters:
        - $ref: '#/components/parameters/settlement-id'
      responses:
        '200':
          description: Returns the settlement breakdown object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/settlement-breakdown-response'
        '404':
          description: Settlement not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /settlements:
    get:
      summary: List Settlements
      description: Retrieves a list of settlements.
      operationId: list-settlements
      tags:
        - Settlements
      parameters:
        - $ref: '#/components/parameters/created-greater-than-or-equals'
        - $ref: '#/components/parameters/created-greater-than'
        - $ref: '#/components/parameters/created-less-than-or-equals'
        - $ref: '#/components/parameters/created-less-than'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/ending-before'
        - $ref: '#/components/parameters/starting-after'
      responses:
        '200':
          description: Returns a list of settlement objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/settlements-bulk-response'
        '404':
          description: Settlement not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /payment_links:
    post:
      summary: Create a Payment link
      tags:
        - PaymentLinks
      requestBody:
        $ref: '#/components/requestBodies/create-payment-link'
      responses:
        '201':
          description: Returns the created payment link object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-link'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: create-payment-link
      description: Create a Payment link.
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
  /payment_links/{link_id}:
    get:
      summary: Retrieve a Payment Link
      tags:
        - PaymentLinks
      responses:
        '200':
          description: Returns the payment link object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-link'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payment link not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: retrieve-payment-link
      description: Retrieve a Payment Link by link id.
      parameters:
        - name: link_id
          schema:
            type: string
            example: plink_146231656762572800
            pattern: ^plink_\d{18,20}$
          in: path
          required: true
          description: The identifier of the payment link.
    put:
      summary: Update a Payment Link
      tags:
        - PaymentLinks
      requestBody:
        $ref: '#/components/requestBodies/update-payment-link'
      responses:
        '200':
          description: Returns the updated payment link object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-link'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: update-payment-link
      description: Update a Payment Link by link id.
      parameters:
        - name: link_id
          schema:
            type: string
            example: plink_146231656762572800
            pattern: ^plink_\d{18,20}
          in: path
          required: true
          description: The identifier of the payment link.
        - $ref: '#/components/parameters/idempotency-key'
  /payment_methods:
    post:
      summary: Create a Payment Method
      tags:
        - PaymentMethods
      requestBody:
        $ref: '#/components/requestBodies/create-payment-method'
      responses:
        '201':
          description: Returns the created payment method object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-method'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: create-payment-method
      description: Create a Payment Method.
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
  /payment_methods/{payment_method_id}/confirm:
    post:
      summary: Confirm a Payment Method
      tags:
        - PaymentMethods
      responses:
        '201':
          description: Returns the confirmed payment method object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-method'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payment method not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: confirm-payment-method
      description: Confirm a Payment Method by payment method id.
      parameters:
        - name: payment_method_id
          schema:
            type: string
            example: pm_card_146231656762572800
            pattern: pm_\w+_\d{18,20}
          in: path
          required: true
          description: The identifier of the payment method.
        - $ref: '#/components/parameters/idempotency-key'
  /payment_methods/{payment_method_id}:
    get:
      summary: Retrieve a Payment Method
      tags:
        - PaymentMethods
      responses:
        '200':
          description: Returns the payment method object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-method'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payment method not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: retrieve-payment-method
      description: Retrieves the details of a payment method.
      parameters:
        - name: payment_method_id
          schema:
            type: string
            example: pm_card_146231656762572800
            pattern: pm_(\w+)_\d{18,20}
          in: path
          required: true
          description: The identifier of the payment method.
    delete:
      summary: Delete a Payment Method
      tags:
        - PaymentMethods
      responses:
        '204':
          description: Payment method deleted successfully.
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: delete-payment-method
      description: Deletes a payment method.
      parameters:
        - name: payment_method_id
          schema:
            type: string
            example: pm_card_146231656762572800
            pattern: pm_(\w+)_\d{18,20}
          in: path
          required: true
          description: The identifier of the payment method.
        - $ref: '#/components/parameters/idempotency-key'
  /payment_methods/{payment_method_id}/network_token:
    get:
      summary: Retrieve a Network Token
      tags:
        - PaymentMethods
      responses:
        '200':
          description: Returns the network token object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network-token'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payment method not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: retrieve-payment-method-network-token
      description: Retrieves the network token of a payment method.
      parameters:
        - name: payment_method_id
          schema:
            type: string
            example: pm_card_146231656762572800
            pattern: pm_card_\d{18,20}
          in: path
          required: true
          description: The identifier of the payment method.
  /payment_methods/{payment_method_id}/network_token/cryptogram:
    get:
      summary: Retrieve a Network Token Cryptogram
      tags:
        - PaymentMethods
      responses:
        '200':
          description: Returns the network token cryptogram object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network-token-cryptogram'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payment method not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: retrieve-payment-method-network-token-cryptogram
      description: Retrieves the network token cryptogram of a payment method.
      parameters:
        - name: payment_method_id
          schema:
            type: string
            example: pm_card_146231656762572800
            pattern: pm_card_a\d{18,20}
          in: path
          required: true
          description: The identifier of the payment method.
  /payment_methods/create_from_token:
    post:
      summary: Create a Payment Method from Token
      tags:
        - PaymentMethods
      requestBody:
        $ref: '#/components/requestBodies/create-from-token'
      responses:
        '201':
          description: Returns the created payment method object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-method'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      operationId: create-payment-method-from-token
      description: Creates a payment method from an existing token.
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
  /fraud_warnings/{transaction_id}:
    get:
      summary: Retrieve a Fraud Warning
      description: Retrieves the details of a fraud warning.
      operationId: get-fraud-warning-by-id
      tags:
        - FraudWarnings
      parameters:
        - in: path
          name: transaction_id
          required: true
          description: The id of the Fraud Warning.
          schema:
            type: string
            example: frdwrn_146231656762572800
            pattern: ^frdwrn_\d{18,20}
      responses:
        '200':
          description: Returns the fraud warning object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fraud-warning'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Fraud warning not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /fraud_warnings:
    get:
      summary: List Fraud Warnings
      description: Retrieves a list of fraud warnings.
      operationId: list-fraud-warnings
      tags:
        - FraudWarnings
      parameters:
        - $ref: '#/components/parameters/created-greater-than-or-equals'
        - $ref: '#/components/parameters/created-greater-than'
        - $ref: '#/components/parameters/created-less-than-or-equals'
        - $ref: '#/components/parameters/created-less-than'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/customer-reference-id'
        - $ref: '#/components/parameters/ending-before'
        - $ref: '#/components/parameters/starting-after'
      responses:
        '200':
          description: Returns a list of fraud warning objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource:
                    type: string
                    example: charges
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/fraud-warning'
                    description: Array of fraud warnings, sorted.
                  hasMore:
                    type: boolean
                    description: Indicates if there are more fraud warnings available for pagination.
                required:
                  - resource
                  - data
                  - hasMore
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
  /exchange_rates:
    get:
      summary: Retrieve Exchange Rates
      description: Retrieves exchange rates for given currencies.
      tags:
        - ExchangeRates
      operationId: get-exchange-rates
      parameters:
        - in: query
          name: transaction_currency
          description: The transaction currency code. Three-letter ISO currency code, in lowercase.
          schema:
            type: string
            example: usd
        - in: query
          name: settlement_currency
          description: The settlement currency code. Three-letter ISO currency code, in lowercase.
          schema:
            type: string
            example: eur
        - in: query
          name: network
          description: Card network.
          schema:
            $ref: '#/components/schemas/card-brand'
      responses:
        '201':
          description: Returns the exchange rate object.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/exchange-rates'
                  - $ref: '#/components/schemas/exchange-rate'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Exchange rates not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /exchange_rates/charge/{charge_id}:
    get:
      summary: Retrieve Charge Exchange Rates
      description: Retrieves the exchange rates that were applied to a charge.
      tags:
        - ExchangeRates
      operationId: get-charge-exchange-rates
      parameters:
        - in: path
          name: charge_id
          description: The id of the Charge.
          required: true
          schema:
            type: string
            pattern: ^chrg_\d{18,20}
            example: chrg_146231656762572800
      responses:
        '200':
          description: Returns the exchange rate object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/charge-exchange-rates-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Exchange rates not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /exchange_rates/calculate:
    post:
      summary: Calculate Exchange Rates
      description: Calculates exchange rates for given currencies.
      tags:
        - ExchangeRates
      operationId: calculate-exchange-rates
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calculate-exchange-rates-request'
      responses:
        '200':
          description: Returns the calculated exchange rate object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calculate-exchange-rates-response'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /current/payment_method_options:
    get:
      summary: Retrieve Payment Method Options
      description: Retrieves the payment method options of a merchant.
      operationId: get-payment-method-options
      tags:
        - Merchants
      responses:
        '200':
          description: Returns the payment method options object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant-payment-method-options'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    patch:
      summary: Update Payment Method Options
      description: Updates the payment method options of a merchant.
      operationId: update-payment-method-options
      tags:
        - Merchants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-payment-method-options-request'
      responses:
        '200':
          description: Returns the updated payment method options object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant-payment-method-options'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /reconciliation/transactions:
    get:
      summary: List Reconciliation Transactions
      operationId: list-reconciliation-transactions
      description: Retrieves a list of reconciliation transactions.
      tags:
        - Reconciliation
      responses:
        '200':
          description: Returns a list of reconciliation transaction objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reconciliation-transaction-list'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      parameters:
        - name: settlement_id
          schema:
            type: string
            example: stlmnt_146231656762572800
            pattern: ^stlmnt_\d{18,20}
          in: query
          description: The id of the Settlement.
        - name: date
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2024-01-01'
          in: query
          description: Reconciliation for specific date.
        - name: from_date
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2024-01-01'
          in: query
          description: Reconciliation from date.
        - name: to_date
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2024-01-01'
          in: query
          description: Reconciliation to date.
        - name: page
          schema:
            type: integer
            default: 1
          in: query
          description: Page number to start from.
        - name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          description: Number of value-lists displayed on the page.
  /service_fees:
    get:
      summary: List Service Fees
      operationId: list-service-fees
      description: Retrieves a list of service fees.
      tags:
        - Settlements
      responses:
        '200':
          description: Returns a list of service fee objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service-fee-list'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
      parameters:
        - name: settlement_id
          schema:
            type: string
            example: stlmnt_146231656762572800
            pattern: ^stlmnt_\d{18,20}
          in: query
          description: The id of the Settlement.
        - name: page
          schema:
            type: integer
            default: 1
          in: query
          description: Page number to start from.
        - name: limit
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          in: query
          description: Number of value-lists displayed on the page.
  /service_fees/{service_fee_id}:
    get:
      summary: Retrieve a Service Fee
      description: Retrieves the details of a service fee.
      operationId: get-service-fees-by-id
      tags:
        - Settlements
      parameters:
        - in: path
          required: true
          name: service_fee_id
          schema:
            type: string
            examples:
              - svcfee_146231656762572800
            pattern: svcfee_\d{18,20}
      responses:
        '200':
          description: Returns the service fee object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service-fee'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Service fee not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /sessions/payment:
    post:
      summary: Create a Payment Session
      description: Creates a new payment session.
      operationId: create-ps
      tags:
        - PaymentSessions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: number
                  description: Amount to collect, in the smallest currency unit.
                  examples:
                    - 10000
                currency:
                  type: string
                  description: Three-letter ISO currency code, in lowercase.
                  examples:
                    - usd
                customer_reference_id:
                  type: string
                  description: Your unique identifier for the customer, used to retrieve and manage saved payment methods.
                  examples:
                    - 927071e4-464c-4f5d-a079-4aa097f922ca
                billing_details:
                  $ref: '#/components/schemas/billing-details'
                capture:
                  type: boolean
                  description: Whether to immediately capture the payment. If false, creates a hold.
                description:
                  type: string
                  description: An arbitrary string attached to the object, useful for displaying to users.
                payment_method_options:
                  $ref: '#/components/schemas/payment-method-options'
                payment_method_types:
                  type: array
                  description: The list of payment method types allowed for this session. Defaults to ["card"].
                  items:
                    type: string
                    examples:
                      - card
                reference:
                  type: string
                  description: A unique string to reference the payment session, useful for reconciliation with your internal systems.
                shipping:
                  $ref: '#/components/schemas/shipping-details'
                setup_future_usage:
                  type: string
                  description: Indicates intent to use this payment method for future payments.
                  enum:
                    - on_session
                    - off_session
                statement_descriptor_suffix:
                  type: string
                  description: Extra information about the payment displayed on the customer's statement.
                metadata:
                  type: object
                  description: Set of key-value pairs attached to the object.
            example:
              amount: 10000
              currency: usd
              customer_reference_id: cust_ext_abc123
              billing_details:
                name: John Smith
                email: john.smith@example.com
                phone: '+14155551234'
                address:
                  line1: 123 Main Street
                  line2: Suite 400
                  city: San Francisco
                  state: CA
                  postal_code: '94102'
                  country: US
              capture: true
              description: Payment for Order
              reference: order_12345
              setup_future_usage: on_session
              statement_descriptor_suffix: ACME STORE
              metadata:
                order_id: '12345'
                source: website
      responses:
        '200':
          description: Returns the created payment session object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-session'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    get:
      summary: List Payment Sessions
      description: Retrieves a list of payment sessions.
      operationId: list-payment-sessions
      tags:
        - PaymentSessions
      parameters:
        - $ref: '#/components/parameters/created-greater-than-or-equals'
        - $ref: '#/components/parameters/created-greater-than'
        - $ref: '#/components/parameters/created-less-than-or-equals'
        - $ref: '#/components/parameters/created-less-than'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/customer-reference-id'
        - $ref: '#/components/parameters/ending-before'
        - $ref: '#/components/parameters/starting-after'
        - $ref: '#/components/parameters/idempotency-key'
      responses:
        '200':
          description: Returns a list of payment session objects.
          content:
            application/json:
              schema:
                type: object
                required:
                  - resource
                properties:
                  resource:
                    type: string
                    examples:
                      - payment_sessions
                    description: String representing the object's type.
                  has_more:
                    type: boolean
                    description: Whether there are more results available.
                  data:
                    type: array
                    description: The list of payment session objects.
                    items:
                      $ref: '#/components/schemas/payment-session'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
  /sessions/payment/{id}:
    get:
      summary: Retrieve a Payment Session
      description: Retrieves the details of a payment session.
      operationId: get-ps-by-id
      tags:
        - PaymentSessions
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
            examples:
              - ps_217940156986951680
            pattern: ^ps_\d{18,20}
      responses:
        '200':
          description: Returns the payment session object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-session'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '404':
          description: Payment session not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found-error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal-server-error'
    patch:
      summary: Update a Payment Session
      description: Updates a payment session.
      operationId: update-ps
      tags:
        - PaymentSessions
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
            examples:
              - ps_217940156986951680
            pattern: ^ps_\d{18,20}
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number
                  description: Amount, in minor units.
                  examples:
                    - 10000
                currency:
                  type: string
                  description: Three-letter ISO currency code, in lowercase.
                  examples:
                    - usd
                exponent:
                  type: number
                  description: Currency exponent.
                  examples:
                    - 2
                billing_details:
                  $ref: '#/components/schemas/billing-details'
                description:
                  type: string
                  description: A string attached to the resource. Often useful for displaying to users.
                  examples:
                    - Payment for order 123
                metadata:
                  type: object
                  description: Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the object in a structured format.
                  examples:
                    - key: value
                payment_method_options:
                  $ref: '#/components/schemas/payment-method-options'
                reference:
                  type: string
                  description: A unique string to reference the Payment Session and the Charge/Hold created after a successful payment. Can be used to reconcile the object with your internal systems.
                  examples:
                    - order_123
                shipping:
                  $ref: '#/components/schemas/shipping-details'
                statement_descriptor_suffix:
                  type: string
                  description: Provides information about the payment that customers can see on their charge statements. Concatenated with the statement descriptor that’s set on the account during onboarding the complete statement descriptor, maximum of 22 characters for the concatenated descriptor.
  /sessions/payment/{id}/client_details:
    get:
      summary: Retrieve Payment Session Client Details
      description: Retrieves the client details of a payment session.
      operationId: get-ps-client-details
      tags:
        - PaymentSessions
      parameters:
        - in: path
          required: true
          name: id
          schema:
[...]
